/* font-family: "ProximaNovaExtrabld"; */

@font-face {
  font-family: "ProximaNovaExtrabld";
  src: url("../fonts/ProximaNova-Extrabld.eot");
  src: url("../fonts/ProximaNova-Extrabld.eot?#iefix")format("embedded-opentype"), url("..../fonts/ProximaNova-Extrabld.woff") format("woff"), url("../fonts/ProximaNova-Extrabld.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


/* font-family: "ProximaNovaRegular"; */

@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix")format("embedded-opentype"), url("..../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


/* font-family: "ProximaNovaSemibold"; */

@font-face {
  font-family: "ProximaNovaSemibold";
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix")format("embedded-opentype"), url("..../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


/* font-family: "Helvetica-5-Normal"; */

@font-face {
  font-family: "Helvetica5Normal";
  src: url("../fonts/Helvetica-5-Normal.eot");
  src: url("../fonts/Helvetica-5-Normal.eot?#iefix")format("embedded-opentype"), url("..../fonts/Helvetica-5-Normal.woff") format("woff"), url("../fonts/Helvetica-5-Normal.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "Glyphicons Halflings"; */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


/* font-family: "MyriadProRegular"; */

@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
